* {
  box-sizing: border-box;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #323232;
  color: #fff;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
#root {
  max-width: 1920px;
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="whitesmoke" d="M247 65.16L32.34 440.8l61.79-35.7L247 137.6zm18 .38V137l158.3 271.3 62.7 36.1C412.2 318.2 338.6 191.8 265 65.54zM415.4 424.5l-321.3 1.4-62.72 36.2 445.82-1.9z"/></svg>');
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center center;

  animation-name: bg;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
@keyframes bg {
  from {
    background-size: 20%;
  }
  to {
    background-size: 10%;
  }
}
.app {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  vertical-align: middle;

  overflow: auto;
  padding: 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  vertical-align: middle;

  padding: 2rem;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  padding: 2em;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
  background: rgba(255, 255, 255, 0.05);
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }
  &:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

.creadits {
  text-align: center;
  color: #888;
  margin: 0;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}
h2 {
  color: #ccc;
  text-align: center;
  margin-bottom: 1rem;
}

input[type="number"],
input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

input[type="number"] {
  width: 200px;
  max-width: 100%;
}

input[type="text"] {
  width: 300px;
  max-width: 100%;
  background-color: #f4f4f4;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.center {
  text-align: center;
}

.heading {
  margin-bottom: 1em;
}
.dragons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  user-select: none;
  .dragon {
    position: relative;
    padding: 10px;
    border-radius: 1em;
    display: block;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: rgb(204, 219, 232, 0.04) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.05) -3px -3px 6px 1px inset;
    .damage-btn {
      margin-top: 10px;
    }
  }
}
.m-0 {
  margin: 0;
}
.damage-btn {
  padding: 0.5em 1em;
  font-size: 0.8em;
}
.reset-button {
  padding: 0;
  font-size: 1em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  width: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  text-align: center;
  height: 1em;
  padding: 0;
  &:focus {
    outline: none;
  }
}
@media screen and (max-width: 768px) {
  #root {
    background: unset;
  }
  .app {
    opacity: 1;
    display: block;
  }
  .wrapper {
    display: block;
    max-width: 100%;
    overflow: auto;
  }
  .card {
    padding: 1em 0.2em;
    box-sizing: border-box;
  }
  .dragons {
    margin-top: 1em;
    flex-direction: column;
    .dragon {
      width: 100%;
    }
  }
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }
}
.bg {
  background: #323232;
}

.notes-keeper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1em 0;
  margin: 10px 0;
  border-radius: 1em;
  .info {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    user-select: none;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    .info-content {
      flex: 1;
    }
    button {
      padding: 2px;
      border-radius: 50%;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
